# {{ ansible_managed }}

{% if ansible_distribution == "Ubuntu" %}
{%   for item in apt_sources_archive_types %}
{{ item }} {{ apt_sources_ubuntu_repository_url }}/{{ ansible_distribution|lower }} {{ ansible_distribution_release|lower }} {{ apt_sources_ubuntu_components|join (' ') }}
{%     if apt_sources_enable_backports %}
{{ item }} {{ apt_sources_ubuntu_repository_url }}/{{ ansible_distribution|lower }} {{ ansible_distribution_release|lower }}-backports {{ apt_sources_ubuntu_components|join (' ') }}
{%     endif %}
{%     if apt_sources_enable_security %}
{{ item }} {{ apt_sources_ubuntu_repository_url }}/{{ ansible_distribution|lower }} {{ ansible_distribution_release|lower }}-security {{ apt_sources_ubuntu_components|join (' ') }}
{%     endif %}
{%     if apt_sources_enable_updates %}
{{ item }} {{ apt_sources_ubuntu_repository_url }}/{{ ansible_distribution|lower }} {{ ansible_distribution_release|lower }}-updates {{ apt_sources_ubuntu_components|join (' ') }}
{%     endif %}
{%   endfor %}
{% endif %}